.SuggestionWrap {
    width: 100%;
    background: #bde7ff;
    list-style: none;
    color: #000;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    top: 49px;
    border-radius: 0 0 4px 4px;
}

.SuggestionWrap li {
    padding: 12px 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #a9dfff;
}
.SuggestionWrap li:hover {
    background: #5abcf5;
}