.User{
    padding: 15px 10px 15px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #454545;
    cursor: pointer;
    background: #e1f6ff;
    border-bottom: 1px solid #ceecf1;

}
.User:hover,.User:active, .User.active{
    background:#ccefff;
}

.Active, .Active:hover{
    background: #0884c3;
    color: #fff;
}
